# -------------------------------------------------------------------
# MY STUFF
# -------------------------------------------------------------------
alias dotf='./dotf'

alias cl='clear'
alias cll='clear && l'
alias del="rm -Rf"
alias dropbox="cd ~/Dropbox\ \(Rainy\ Day\ Media\)"
alias dropboxp="cd ~/Dropbox\ \(Personal\)"


alias mypath="subl ~/Projects/repos/shell/dotfiles/.confiles/.path"
alias expath="subl ~/Projects/repos/shell/dotfiles/.confiles/.exports"
alias profile="subl ~/.zshrc"

alias editssh='subl .ssh/known_hosts' # EDIT SSH HOSTS
alias copyssh='pbcopy < ~/.ssh/id_rsa.pub && echo "SSH Key copied to clipboard"' # COPY SSH PUBLIC KEY
alias ping='ping -c' #PING WITH PACKET COUNT


# FORKED REPOS
alias projects="cd ~/Projects && l"
alias repos="~/Projects/repos && l"
alias sites="~/Projects/sites && l"


alias samples="~/Projects/_samples && l"

# RDM BUILDs
alias myz="cd ~/Projects/repos/shell/omz/oh-my-zsh-rdm-theme && l" # OPEN REPO

alias mydf="cd ~/Projects/repos/shell/dotfiles && l" # OPEN REPO
alias cuts="subl ~/Projects/repos/shell/dotfiles/.confiles/.aliases"
alias funs="subl ~/Projects/repos/shell/dotfiles/.confiles/.functions"
alias confs="subl ~/Projects/repos/shell/dotfiles/dotfiles-cmd/libexec/dotf-homebrew"
alias confapps="subl ~/Projects/repos/shell/dotfiles/dotfiles-cmd/libexec/dotf-homebrew-apps"

# VENTRUES
alias ventures="~/Projects/ventures && l"
alias c4d="~/Projects/ventures/c4d && l"
alias wpthemes="~/Projects/ventures/rdm-themes && l"
alias rdm="~/Projects/ventures/wp-themes/RDMFramework && l"

# CLIENTS
alias archives="~/Projects/archives && l"
alias cb="~/Projects/clientBuilds && l"

export EDITOR='subl -w' # EDIT WITH SUBLIME TEXT

# -------------------------------------------------------------------
# HomeBrew aliases
# -------------------------------------------------------------------

alias brews='brew list -1'

# -------------------------------------------------------------------
# Git aliases
# -------------------------------------------------------------------

alias ga='git add -A'
alias gp='git push'
alias gl='git log'
alias gs='git status'
alias gd='git diff'
alias gm='git commit -m'
alias gc='git commit'
alias gma='git commit -am'
alias gb='git branch -va' # List all local and remote-tracking branches
alias gck='git checkout'
alias gckb='git checkout -b'
alias gra='git remote add'
alias grr='git remote rm'
alias grr='git remote -v' # List the current remotes
alias gpl='git pull'
alias clone='git clone'
alias gta='git tag  -m'
alias grf='git reflog'
alias gv='git log --pretty=format:'%s' | cut -d " " -f 1 | sort | uniq -c | sort -nr'
alias fetch='git fetch'
alias merge='git merge'
alias stash='git stash'


# leverage an alias from the ~/.gitconfig
alias gh='git hist'
alias gt='git today'
alias glg1='git lg1'
alias glg2='git lg2'
alias glg='git lg'

 git config --global alias.logs "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# curiosities
# gsh shows the number of commits for the current repos for all developers
alias gsh="git shortlog | grep -E '^[ ]+\w+' | wc -l"

# gu shows a list of all developers and the number of commits they've made
alias gu="git shortlog | grep -E '^[^ ]'"

# -------------------------------------------------------------------
# Capistrano aliases
# -------------------------------------------------------------------
alias capd='cap deploy'

# -------------------------------------------------------------------
# Laravel aliases
# -------------------------------------------------------------------
# alias laravel='composer create-project laravel/laravel' # Not sure I need this that often -- commented out for reference

# -------------------------------------------------------------------
# Postgre SQL
# -------------------------------------------------------------------
alias pgon='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgoff='pg_ctl -D /usr/local/var/postgres stop -s -m fast'

# -------------------------------------------------------------------
# MySQL aliases
# -------------------------------------------------------------------
alias myon='mysql.server start'
alias myoff='mysql.server stop'
alias myreboot='mysql.server restart'
alias dropdb='mysqladmin -u root -p drop'
alias createdb='mysqladmin -u root -p create'
alias dblogin='mysql -u root -p'

# -------------------------------------------------------------------
# dnsmasq aliases
# -------------------------------------------------------------------
alias startdnsmasq='sudo launchctl start homebrew.mxcl.dnsmasq'
alias stopdnsmasq='sudo launchctl stop homebrew.mxcl.dnsmasq'

# -------------------------------------------------------------------
# Vagrant aliases
# -------------------------------------------------------------------
alias vms="~/Projects/vms && l"
alias vup="vagrant up"  #start server
alias vstop="vagrant halt"  #powerdown the server
alias vpause="vagrant suspend" #stop server
alias vstart="vagrant resume" #start server fro suspend
alias vrld="vagrant reload"
alias vssh="vagrant ssh"
alias vstat="vagrant status"
alias vdel="vagrant destory" #destroy the server
alias vbox="vagrant box"
alias vpro="vagrant provision" #rebuilds the config.

# -------------------------------------------------------------------
# Apache aliases
# -------------------------------------------------------------------
alias serverstart='apachectl -k start'
alias serverstop='apachectl -k stop'
alias serverboot='apachectl -k restart'

# -------------------------------------------------------------------
# Network Stuff
# -------------------------------------------------------------------
alias whois="whois -h whois-servers.net" # Enhanced WHOIS looku ps

alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder" # Flush Directory Service cache

# -------------------------------------------------------------------
# OSX
# -------------------------------------------------------------------

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# # Show/hide hidden files in Finder
alias fshow="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias fhide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias fhidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias fshowdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
#alias badge="tput bel"

# # PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
#alias plistbuddy="/usr/libexec/PlistBuddy"

# # Canonical hex dump; some systems have this symlinked
# command -v hd > /dev/null || alias hd="hexdump -C"

# # OS X has no `md5sum`, so use `md5` as a fallback
# command -v md5sum > /dev/null || alias md5sum="md5"

# # OS X has no `sha1sum`, so use `shasum` as a fallback
# command -v sha1sum > /dev/null || alias sha1sum="shasum"

# # ROT13-encode text. Works for decoding, too! ;)
# alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Disable Spotlight
# alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
# alias spoton="sudo mdutil -a -i on"
