[user]
  name = Ed Heltzel
  email = ed@rainydaymedia.net
[credential]
        helper = GIT_CREDENTIAL_HELPER
[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[core]
  excludesfile = ~/.gitignore_global
  editor = subl -w
  mergeoptions = --no-ff --no-commit
  autocrlf = input

[difftool "Kaleidoscope"]
        cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
        tool = Kaleidoscope
[difftool]
        prompt = false

[mergetool "Kaleidoscope"]
        cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustExitCode = true
[merge]
        tool = Kaleidoscope
[mergetool]
        prompt = false

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[alias]
  aa = add --all
  b = branch
  ba = branch -a
  bd = branch -d
  bD = branch -D
  bm = branch -m
  c = commit
  cm = commit -m
  cma = commit -am
  co = checkout
  cb = checkout -b
  ct = checkout -t
  cr = checkout --
  d = diff
  dt = difftool
  f = fetch --prune
  mt = mergetool
  p = push
  pf = push --force
  pl = pull
  pr = pull-request
  r = rebase
  re = remote
  rea = remote -v
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  t = tag -l
  s = status -s
  ss = status
  squash = "!f() { git rebase -i HEAD~$1; }; f"
  st = stash
  stl = stash list
  stp = stash pop
  sts = "!f() { git stash show stash@{$1}; }; f"
  std = "!f() { git stash show stash@{$1} -U5; }; f"
  strm = "!f() { git stash drop stash@{$1} -U5; }; f"
  l = "!f() { git log $1 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit; }; f"
  lg = "!f() { git log $1 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit;};f"
  tracked = "!d() { git for-each-ref --format='%(refname:short)' refs/heads/ | while read b; do if r=$(git config --get branch.$b.remote); then m=$(git config --get branch.$b.merge); echo \"$b -> $r/${m##*/}\"; fi; done } ; d"
  unstage = reset HEAD
  #show changes
  wc = whatchanged -p --abbrev-commit --pretty=medium

  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

[push]
  default=simple

[help]
        autocorrect = 1
